﻿@model LoginViewModel

<div>
    <h1>Вход в личный кабинет</h1>
    <div>
        <form asp-area="" asp-controller="Account" asp-action="Login" method="Post" asp-route-returnUrl="@ViewBag.returnUrl">
            <div asp-validation-summary="All"></div>
            <div>
                <label asp-for="UserName"></label>
                <input asp-for="UserName"/>
                <span asp-validation-for="UserName"></span>
            </div>
            <div>
                <label asp-for="Password"></label>
                <input asp-for="Password"/>
                <span asp-validation-for="Password"></span>
            </div>
            <div>
                <label asp-for="RememberMe"></label>
                <input asp-for="RememberMe"/>
                <span asp-validation-for="RememberMe"></span>
            </div>
            <div>
                <input type="submit" value="Login"/>
            </div>
        </form>
    </div>
</div>
    