﻿@*<script src="assets/js/jquery.min.js"></script>
<script src="assets/js/browser.min.js"></script>
<script src="assets/js/breakpoints.min.js"></script>
<script src="assets/js/util.js"></script>
<script src="assets/js/main.js"></script>*@

<scrpit src="~/js/scripts.min.js" asp-append-version="true"></scrpit>